$color-background: #ECF4E8;

$color-white: #FFFFFF;
$color-blue: #52b5c7;
$color-red: #FB4141;

$color-green-transparent: #11820D99;
$color-yellow-transparent: #94920a80;
$color-background-transparent: #ecf4e8cc;

$color-text: #081429;
$color-text-light: #626364;
$color-shadow: #1d1f2026;
$color-border: #ACACAC;