.rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    svg {
        width: 1.25rem;
        height: 1.25rem;
        flex-shrink: 0;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.5);
        }
    }
}